<header>

  <div ><a type="button" href="/"> Music Lyfe</a></div>
  <!-- <div>Music Lyfe</div> -->
  <div ><a type="button" href="/aboutTeamEarth">About Team Earth</a> </div>
  <div ><a type="button" href="/getOthersData">View Other Users Stats</a></div>

</header>

<section class="header">
  <video autoplay muted loop id="turntable">
    <source src="/static/images/turntable.mp4" type="video/mp4">
  </video>
</section>