<!DOCTYPE html>
<html>

<head>
  <!-- <link rel="stylesheet" href="CSS/reset.css"> -->
  <link rel="stylesheet" href="/static/styles/aboutTeamEarth.css">
  <title>About Us</title>
</head>

<body>
  <header>

  </header>
  <main>
    <div>
      <h2 class="title">TEAM EARTH - MUSIC-LYFE</h2>
      <h2 class="title">Hover over each card</h2>
    </div>
    <div class="center">
      <div class="card-container">
        <div class="card">
          <div class="side"><img src="/static/images/James.png" alt="James" class="about-us" /></div>
          <div class="side back">
            <div>
              <h2>About James</h2>
              <p>James bio</p>
            </div>
            <div class="connect">
              <a href="https://www.linkedin.com/in/james-mansour-730a6a99/" target="_blank"><img src="/static/images/linkedIn.png" alt="LinkedIn icon" class="authors-social" /></a>
              <a href="PORTFOLIO ADDRESS HERE.herokuapp.com" target="_blank"><img src="/static/images/portfolio3.png" alt="portfolio icon" class="authors-social" /></a>
              <a href="https://github.com/FOrgiv" target="_blank"><img src="/static/images/github5.png" alt="GitHub icon" class="authors-social" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="side"><img src="/static/images/Ceylin.png" alt="Ceylin" class="about-us" /></div>
          <div class="side back">
            <div>
              <h2>About Ceylin</h2>
              <p>Hello, my name Ceylin. I am a Air Force Veteran who decided that Software Engineering was what she passionate about! I am also motivated by wanting to inspire little girls and boys that look like me. I want to show them that it is possible to be successful in technology!</p>
            </div>
            <div class="connect">
              <a href="https://www.linkedin.com/in/ceylinbrooks/" target="_blank"><img src="/static/images/linkedIn.png" alt="LinkedIn icon" class="authors-social" /></a>
              <a href="PORTFOLIO ADDRESS HERE.herokuapp.com" target="_blank"><img src="/static/images/portfolio3.png" alt="portfolio icon" class="authors-social" /></a>
              <a href="https://github.com/CeylinBrooks" target="_blank"><img src="/static/images/github5.png" alt="GitHub icon" class="authors-social" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center">

      <div class="card-container">
        <div class="card">
          <div class="side"><img src="/static/images/Andy.png" alt="Andy" class="about-us" /></div>
          <div class="side back">
            <div>
              <h2>About Andy</h2>
              <p>My name is Andy Agulue. I was in the restaurant industry and I had the opportunity to play several roles within that industry.
                I love to learn and continually challenge myself and Code Fellows provided the perfect opportunity to learn a new skill and change my career path. 
                I enjoy hiking with my dog, cross-country motorcycle trips and photography. In my free time you can find me in my darkroom developing prints.</p>
            </div>
            <div class="connect">
              <a href="https://www.linkedin.com/in/andy-agulue/" target="_blank"><img src="/static/images/linkedIn.png" alt="LinkedIn icon" class="authors-social" /></a>
              <a href="PORTFOLIO ADDRESS HERE.herokuapp.com" target="_blank"><img src="/static/images/portfolio3.png" alt="portfolio icon" class="authors-social" /></a>
              <a href="https://github.com/AndyAgulue" target="_blank"><img src="/static/images/github5.png" alt="GitHub icon" class="authors-social" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="side"><img src="/static/images/Fizzo.png" alt="Fizzo" class="about-us" /></div>
          <div class="side back">
            <div>
              <h2>About Fizzo</h2>
              <p> I am in pursuit of a new career. I am studying at Codefellows here
                in Seattle, WA - one of the best code bootcamps in the nation. I will be specializing in Javascript
                and Python programming language. Everyday I feel like a kid at Christmas - I can`t wait to wake up and run back to my projects. This is such an exciting time. This world is full of opportunities and
                adventures. Allow yourself to dream, be brave in your own way and dare to take action upon your dreams - pursue them. Life loves you.</p>
            </div>
            <div class="connect">
              <a href="https://www.linkedin.com/in/fizzopannosch/" target="_blank"><img src="/static/images/linkedIn.png" alt="LinkedIn icon" class="authors-social" /></a>
              <a href="https://fizzo-portfolio2021.herokuapp.com/" target="_blank"><img src="/static/images/portfolio3.png" alt="portfolio icon" class="authors-social" /></a>
              <a href="https://github.com/fizzo999" target="_blank"><img src="/static/images/github5.png" alt="GitHub icon" class="authors-social" /></a>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </main>
  <footer>

  </footer>
</body>

</html>