<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="/static/styles/base.css"> -->

  <title>Music Lyfe</title>
  <link rel="stylesheet" href="/static/styles/reset.css">
  <link rel="stylesheet" href="/static/styles/base.css">
  <link rel="stylesheet" href="/static/styles/layout.css">
  <link rel="stylesheet" href="/static/styles/modules.css">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
</head>

  <body id="indexPage">
<%- include('partials/header.ejs') %>

    <section class="header">
      <video autoplay muted loop id="turntable">
        <source src="/static/images/turntable.mp4" type="video/mp4">
      </video>
    </section>
    <div class="grid-item1">MUSIC LYFE</div>
    <a class="grid-item5" type="button" href="/auth/spotify">Login with Spotify</a>
    <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a>
    </div>
  </body>
</html>