*{
  background: rgb(179,179,179);
background: linear-gradient(90deg, rgba(179,179,179,0.850577731092437) 0%, rgba(157,190,190,1) 38%, rgba(18,19,19,1) 100%);
font-family: 'Redressed', cursive;
background-size: 100%;
size: auto;
}

/* header {
    box-shadow: 3px 4px 0px 0px #899599;
     background-color:none;
     background: none; 
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  } */

  .header:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  header:active {
    position:relative;
    top:1px;
}
 a[type=button] {
   text-align: center;
   background-color: none;
  background:none ;
  box-shadow: 3px 4px 0px 0px #899599;
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color:#ededed;
  border-radius:15px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#3a8a9e;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
}

a[type=button]:hover {
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color:#bab1ba;
}
a[type=button]:active {
  position:relative;
  top:1px;
}

body {
   text-align: center;
   
  }
  

div, .grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5 {
  margin: 30px;
  padding: 10px 24px; 
  cursor: pointer; 
  width: 50%; 
  display: block;
  text-align: center;

}


.grid-item1 {
    text-align: center;
    padding: 100px;
    width: auto;
   font-size: xx-large;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-image: none;
}


.grid-item2 {
    
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item2:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item2:active {
    position:relative;
    top:1px;
  }



.grid-item3{
    /* float:right; */
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item3:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item3:active {
    position:relative;
    top:1px;
  }

.grid-item4{
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item4:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item4:active {
    position:relative;
    top:1px;
  }


 .grid-item5{
   display: grid;
    padding: 10px;
    text-align: center;
    background: none;
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    /* background-color:#ededed; */
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item5:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item5:active {
    position:relative;
    top:1px;
  }
 
  .grid-item6{
    display: grid;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* background: none; */
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item6:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item6:active {
    position:relative;
    top:1px;
  }

  .grid-item7{
    display: grid;
    padding: 10px;
    text-align: center;
    /* background: none; */
    box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .grid-item7:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .grid-item7:active {
    position:relative;
    top:1px;
  }


  /* #searchResultsDivOthers {
    background: none;
    color: black; 

  } */

  /* .home, .title, .menu{ 
    background: none;
    padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .home, .title, .menu:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  ..home, .title, .menu:active {
    position:relative;
    top:1px;

  } */

  .error {
    background: none;
    padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 3px 4px 0px 0px #899599;
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color:#ededed;
    border-radius:15px;
    border:1px solid #d6bcd6;
    display:inline-block;
    cursor:pointer;
    color:#3a8a9e;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
  }

  .error:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
  }
  .error:active {
    position:relative;
    top:1px;

    
  }